[submodule "HazelLearn/vendor/spdlog"]
path= HazelLearn/vendor/spdlog
url=https://github.com/gabime/spdlog


[submodule "HazelLearn/vendor/OpenGL"]
path= HazelLearn/vendor/OpenGL
url=https://github.com/JoeyDeVries/LearnOpenGL


[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://github.com/TheCherno/imgui










